#mainGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

body{
    background-color: lightgrey;
}

h1{
    text-align: center;
    font-size: 250%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: tomato;
    border: 2px solid peachpuff;
}

p{
    text-align: center;
    font-size: 150%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: tomato;
    
    border: 2px solid peachpuff;

}

div{
    background-color: rgba(176, 224, 230, 0.788);
}

#scrill{
    grid-column: 1/4;
}

#p1{
    grid-column: 2/3;
}




#ethgraph{
    height: 200px;
}

#solgraph{
   height: 200px;
}