#mainGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

body{
    background-image: linear-gradient(to bottom right, rgb(59, 1, 136), rgb(80, 0, 80));
    background-repeat: no-repeat;
}

.container{
    max-width: 960px;
    margin-right: auto;
    margin-left:auto;
}

#coinContainer{
    display:flex;
    padding: 25px;
}

select{
    border-radius: 3px;
    color: whitesmoke;
    background-color: rgba(0, 128, 128, 0.068);
    box-shadow: -2px 2px 20px rgba(255, 251, 251, 0.404);
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.select-items{
    background-color: rgba(128, 0, 0, 0.288);
}

#dropdown{
    padding: 5px;
    padding-top: 25px;
    
}

#coinimage{
     background-color: rgba(255, 255, 255, 0); 
     border-radius: 5px; 
     padding: 2px;
     display: inline-flex;
}

#timeparent{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#timebuttons{
    
    display: inline-flex;
    border-radius: 10px;
    background-color: rgba(253, 253, 253, 0.514);
    
}

span{
    font-style: normal;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0, 238, 255, 0.712);
}

.button{
    background-color: rgba(128, 15, 15, 0);
    cursor: pointer;
    color: whitesmoke;
    border: none;
    border-radius: 10px;
    padding: 5px;
    
}

#daybtn{
    background-image: linear-gradient(to bottom right, rgba(80, 0, 80,0.5), rgba(59, 1, 136,0.5));
}

.button:hover{
    background-color: rgba(255,255,255,0.25);
}

@media only screen and (max-width: 600px){
    body{
        background-image: linear-gradient(to bottom right, rgb(96, 70, 131), rgb(80, 0, 80));
    }
}



