h1{
    text-align: center;
    font-size: 250%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: tomato;
    background-color: rgba(176, 224, 230, 0.788);
    border: 2px solid peachpuff; 
}
div{
    float: left;
    padding: 25px;
    background: rgba(176, 224, 230, 0.788);
    
}
