#mainGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

html{
    min-height: 100%;
    background-image: linear-gradient(to bottom right, rgb(59, 1, 136), rgb(80, 0, 80));
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-font-smoothing: antialiased;
}


#coinContainer{
    display:flex;
}

#coinImage{
    background-color: rgba(255, 255, 255, 0); 
    border-radius: 5px; 
}

#dropdown{
    display: flex;
    align-items: center;
    padding-left: 20px;
}

select{
    border-radius: 3px;
    color: whitesmoke;
    background-color: rgba(0, 128, 128, 0.068);
    padding: 5px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    font-size: 16px;
    width: 200px
}

select option{
    background:rgb(59, 1, 136);
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    font-size: 14px;
}


span{
    font-style: normal;
    font-family:'Exo 2', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: whitesmoke;
    margin-left: -85px;
}

#timeparent{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#timebuttons{
    display: inline-flex;
    border-radius: 10px;
    background-color: rgba(253, 253, 253, 0.514);
    
}
.button{
    background-color: rgba(128, 15, 15, 0);
    cursor: pointer;
    color: whitesmoke;
    font-family:'Exo 2', sans-serif;
    font-size: 10px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    padding: 5px;
}

.button:hover{
    background-color: rgba(255,255,255,0.25);
}

#daybtn{
    background-image: linear-gradient(to bottom right, rgba(80, 0, 80,0.5), rgba(59, 1, 136,0.5));
}



@media only screen and (min-width: 1200px){
    #chartChange{
        min-width: 1200px;
        width: 80%;   
    }
}



